workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always
##############################
######### Develp  ###########
develop:
  variables:
    IMAGE_TAG: latest
  trigger:
    include: .gitlab-ci.d/develop.yml
    strategy: depend
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
      when: always

##############################
########## SandBox  ##########
sandbox:
  variables:
    IMAGE_TAG: latest
  trigger:
    include: .gitlab-ci.d/sandbox.yml
    strategy: depend
  rules:
    - if:  $CI_COMMIT_BRANCH == "sandbox"
      when: always

##############################
######## Production  #########
production:
  variables:
    IMAGE_TAG: $CI_COMMIT_TAG
  trigger:
    include: .gitlab-ci.d/production.yml
    strategy: depend
  rules:
    - if:  $CI_COMMIT_TAG =~ /\d+\.\d+\.\d+\.\d+\-p$/
      when: always

##############################
######### Production-V3 ######
##############################
######## Production  #########
production:
  variables:
    IMAGE_TAG: $CI_COMMIT_TAG
  trigger:
    include: .gitlab-ci.d/production-v3.yml
    strategy: depend
  rules:
    - if:  $CI_COMMIT_TAG =~ /\d+\.\d+\.\d+\.\d+\-v3$/
      when: always