stages:
  - prerequisites
  - build_production
  - push_production

Create npmrc file:
  stage: prerequisites
  tags: 
    - ${PROD_RUNNER_TAG}
  script:
    - echo "unsafe-perm=true" > .npmrc
    - echo "registry = http:$PROD_NPM_PROXY" >> .npmrc
    - echo "$PROD_NPM_PROXY:_auth = $PROD_NPM_TOKEN" >> .npmrc
    - echo "always-auth=true" >> .npmrc
  artifacts:
    paths:
    - .npmrc


Build Docker Image:
  stage: build_production
  tags:
    - ${PROD_RUNNER_TAG}
  before_script:
    - curl -vvv --insecure -u $PROD_NEXUS_USER:$PROD_NEXUS_PASS  $PROD_RAW_REPO/prod/client/.env  -o .env
  script:
    - sed -i 's+https:\/\/registry\.npmjs\.org+http:\/\/nrp.devpod.ir:8081\/repository\/nodejs-proxy+g' package-lock.json 
    - docker build -t $PROD_REGISTRY/$PROD_BUSINESS/$PROJECT_NAME:$CI_COMMIT_TAG  . --no-cache
    - docker image save $PROD_REGISTRY/$PROD_BUSINESS/$PROJECT_NAME:$CI_COMMIT_TAG > ${PROJECT_NAME}_$CI_COMMIT_TAG.tgz

############ Push stage ############
Push tgz file to ftp:
  stage: push_production
  tags:
    - ${PROD_RUNNER_TAG}
  script:
    - lftp -c "open mars.fanapsoft.com ; put ${PROJECT_NAME}_$CI_COMMIT_TAG.tgz"
    - rm -f ${PROJECT_NAME}_$CI_COMMIT_TAG.tgz
    - docker rmi  $PROD_REGISTRY/$PROD_BUSINESS/$PROJECT_NAME:$CI_COMMIT_TAG
  needs: ['Build Docker Image']
  variables:
    GIT_STRATEGY: none
