.clasor-preview-content {
  @apply !p-0;
}

.clasor-preview-content .clasor-preview-content__render-server-content {
  @apply !rounded-none px-5 xs:px-8;
}

.clasor-preview-content__render-server-content * {
  direction: ltr;
}

.publish-file-preview .preview-wrapper {
  @apply !h-[calc(100vh-200px)];
}

.clasor-preview-content__render-server-content *:not(.clasor-editor-content *):not([style*="text-align"]) {
  text-align: right;
}

/* All elements inside clasor-editor-content and without inline text-align get LTR */
.clasor-preview-content__render-server-content .clasor-editor-content *:not([style*="text-align"]) {
  text-align: left;
}

/* Elements with inline text-align maintain their own alignment */
.clasor-preview-content__render-server-content [style*="text-align"] {
  text-align: inherit;
}

.clasor-preview-content__render-server-content figure img {
  width: unset;
}

.clasor-preview-content__render-server-content table {
  width: 100%;
}