.clasor-preview-content {
  @apply !p-0;
}

.clasor-preview-content .clasor-preview-content__render-server-content {
  @apply !rounded-none px-5 xs:px-8;
}

.clasor-preview-content__render-server-content * {
  direction: ltr;
}