@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/cls-file-management/dist/style.css";
@import "./outline.style.css";
@import "./clasor-preview.style.css";
@import "./landing.css";
@import "./google-fonts.css";


@layer base {
  html {
    @apply h-full !scroll-smooth;
  }

  body {
    direction: rtl;
    @apply bg-tertiary !font-iranYekan;
  }

  * {
    @apply !scroll-smooth;
  }

  h1:not(.clasor-preview-content *),
  h2:not(.clasor-preview-content *),
  h3:not(.clasor-preview-content *),
  h4:not(.clasor-preview-content *),
  h5:not(.clasor-preview-content *),
  h6:not(.clasor-preview-content *),
  p:not(.clasor-preview-content *),
  span:not(.clasor-preview-content *) {
    @apply !font-iranYekan;
  }

  .default-font-family .clasor-preview-content { font-family: inherit !important; }

  .prevent-toast-click {
    pointer-events: all !important;
  }

  .prevent-toast-click * {
    pointer-events: all !important;
  }

  .Toastify__toast-container {
    pointer-events: all !important;
  }
}

.shepherd-modal-overlay-container {
  @apply !hidden;
}
.tour-overlay {
  @apply hidden top-0 left-0 bg-black absolute w-full h-full opacity-60 !z-[20];
}
.version-overlay {
  @apply hidden top-0 left-0 bg-black absolute w-full h-full opacity-60 !z-[1000];
}
.custom-shepherd-theme {
  @apply absolute max-w-[350px] z-[10000] overflow-hidden shadow-lg border-normal border-2;
}
.shepherd-content {
  @apply px-3 py-2 !bg-white rounded-lg  shadow-md;
}

.custom-shepherd-theme {
  @apply !border-none;
}

.tour-step-container {
  @apply p-3;
}
.tour-step-header {
  @apply text-base font-semibold pb-4;
}
.tour-step-title {
  @apply text-base font-semibold;
}
.tour-step-text,
.tour-step-list {
  @apply !text-[13px] text-primary_normal !leading-[26px] !-tracking-[0.13px] font-normal !font-iranYekan;
}
.tour-step-list {
  @apply text-sm pb-4;
}
.shepherd-header {
  @apply w-full flex justify-end;
}
.shepherd-cancel-icon,
.shepherd-cancel-icon span {
  @apply block w-5 h-5;
}
.shepherd-footer {
  @apply flex justify-between;
}
.main__header .shepherd-enabled.shepherd-target,
.tabs .shepherd-enabled.shepherd-target,
.home-container .shepherd-enabled.shepherd-target,
.shepherd-enabled.shepherd-target {
  @apply relative !z-[2000] !bg-white;
}
.categorySearchContent.shepherd-enabled.shepherd-target,
.categoryTreeMode.shepherd-enabled.shepherd-target,
.createDocument.shepherd-enabled.shepherd-target,
.user-create.shepherd-enabled.shepherd-target,
.file-table-mode.shepherd-enabled.shepherd-target,
.file-card-mode.shepherd-enabled.shepherd-target,
.file-search-delete-mode.shepherd-enabled.shepherd-target,
.searchRepo.shepherd-enabled.shepherd-target,
.createNewRepo.shepherd-enabled.shepherd-target,
.RepoTableMode.shepherd-enabled.shepherd-target,
.RepoCardMode.shepherd-enabled.shepherd-target,
.categorySearch.shepherd-enabled.shepherd-target,
.createMenu.shepherd-enabled.shepherd-target {
  @apply !relative !z-[2000] !bg-primary p-3;
}
thead:has(tr th.shepherd-enabled.shepherd-target) {
  @apply !static;
}
ul.menu:has(li.shepherd-enabled.shepherd-target) {
  @apply bg-gray-700;
}

@layer components {
  time {
    @apply !font-iranYekan;
  }

  .list {
    @apply !font-iranYekan;
  }

  .spinner {
    @apply !border-r-purple-normal !border-t-purple-normal;
  }

  button {
    @apply flex items-center justify-center !shadow-none !outline-none !font-iranYekan hover:!shadow-none;
  }

  .primary_button {
    @apply bg-secondary hover:bg-secondary text-white;
  }

  .form__input {
    @apply flex items-center !h-12 gap-2 pr-3 pl-2 placeholder: !opacity-100 !font-iranYekan focus:font-iranYekan placeholder:font-iranYekan font-normal text-primary_normal text-[13px] !leading-[18.2px] !-tracking-[0.13px] placeholder:!text-placeholder placeholder:text-[13px] text-right !bg-gray-50 border-[1px] !border-normal focus:!border-normal;
  }

  .input {
    @apply flex items-center !min-w-0 !font-iranYekan focus:font-iranYekan placeholder:!font-iranYekan font-normal text-primary_normal text-[13px] placeholder:!text-[13px] !leading-[18.2px] !-tracking-[0.13px] placeholder:!text-hint text-right;
  }

  .form__title,
  .title_t1 {
    @apply text-primary_normal !text-[16px] !leading-6 !-tracking-[0.32px] font-medium !font-iranYekan;
  }

  .title_t2 {
    @apply !text-[14px] !leading-[21px] !-tracking-[0.14px] !font-medium !font-iranYekan;
  }

  .title_t3 {
    @apply !text-[13px] !leading-[19.5px] !-tracking-[0.13px] !font-medium !font-iranYekan;
  }

  .title_t4 {
    @apply !text-[12px] !leading-[18px] !font-medium !font-iranYekan;
  }

  .caption_c1 {
    @apply !text-[12px] !leading-[20px] !-tracking-[0.12px] !font-normal !font-iranYekan;
  }

  .caption_c2 {
    @apply !text-[11px] text-hint !leading-[18px] !-tracking-[0.11px] font-normal !font-iranYekan;
  }

  .body_b3 {
    @apply !text-[13px] !leading-[26px] !-tracking-[0.13px] font-normal !font-iranYekan;
  }

  .form_label {
    @apply !text-primary_normal !p-0 !text-[12px] !font-normal !leading-[16.8px] !-tracking-[0.12px] !font-iranYekan;
  }

  .label {
    @apply !p-0 !text-[12px] !font-normal !leading-[16.8px] !-tracking-[0.12px] !font-iranYekan;
  }

  .label_l2 {
    @apply text-primary_normal !text-[14px] font-normal !leading-[19.6px] !-tracking-[0.14px] !font-iranYekan;
  }

  .label_l3 {
    @apply text-primary_normal truncate !text-[13px] font-normal !leading-[18.2px] !-tracking-[0.13px] !font-iranYekan;
  }

  .label_l4 {
    @apply text-primary_normal !text-[12px] font-normal !leading-[16.8px] !-tracking-[0.12px] !font-iranYekan;
  }

  .text__label__button {
    @apply !text-[12px] !leading-[18px] !-tracking-[0.12px] !font-bold !font-iranYekan;
  }

  .warning_text {
    @apply !text-error !text-[11px] w-full h-5 !font-iranYekan;
  }

  .select_option__text {
    @apply !text-[13px] !leading-[18.2px] !-tracking-[0.13px] !font-iranYekan;
  }

  .table-head {
    @apply !text-[12px] !leading-[18px] !-tracking-[0.12px] !font-bold text-ellipsis !font-iranYekan;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .category-children {
    padding-top: 102px;
  }

  .white-list-input.css-hk0rgq-MuiFormControl-root-MuiTextField-root {
    @apply !border-0 !border-normal !overflow-auto max-h-[150px] !rounded-none;
  }

  .white-list-input .MuiInputBase-root {
    @apply !rounded-lg hover:!border-normal hover:!outline-0 !border-none !outline-0;
  }

  .white-list-input .MuiInputBase-input {
    @apply placeholder:font-iranYekan placeholder:text-[14px];
  }

  .white-list-input .MuiChip-deleteIcon {
    @apply translate-x-2.5;
  }

  .white-list-input button[aria-label="Clear"] {
    @apply translate-x-[7px];
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-200;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 border;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .repo__card-footer {
    @apply rounded-b-md py-3 px-3 w-full flex justify-between items-center bg-gray-50;
  }

  .rdp__modal.css-1e0sis0 {
    @apply z-[99999];
  }

  .pause-animation {
    animation-play-state: paused;
  }
}

.bullet:before {
  content: "\2022";
  @apply text-lg text-gray-500 sm:ml-2 align-middle hidden sm:inline-block;
}

.app-sidebar {
  @apply flex flex-row grow-0 shrink-0 min-w-[250px] max-w-[400px] overflow-auto;
}

.app-sidebar .app-sidebar-content {
  @apply flex-[1] w-full;
}

.app-sidebar .app-sidebar-resizer {
  @apply grow-0 shrink-0 basis-1.5 justify-self-end cursor-col-resize resize-x;
}

.app-sidebar .app-sidebar-resizer:hover {
  @apply w-2;
}

.word-break {
  word-break: break-word;
}

.toast-error {
  box-shadow: 0px 2px 7px 0px rgba(240, 73, 61, 0.15), 0px 5px 17px 0px rgba(224, 62, 26, 0.20) !important;
  @apply !bg-[#E03E1A] !font-iranYekan
}

.toast-success {
  box-shadow: 0px 2px 7px 0px rgba(16, 185, 129, 0.15), 0px 5px 17px 0px rgba(16, 185, 129, 0.20) !important;
  @apply !bg-[#10B981] !font-iranYekan
}

.toast-warning {
  box-shadow: 0px 2px 7px 0px rgba(255, 149, 0, 0.15), 0px 5px 17px 0px rgba(255, 149, 0, 0.20) !important;
  @apply !bg-[#FF9500] !font-iranYekan
}

.toast-dark {
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.15), 0px 5px 17px 0px rgba(0, 0, 0, 0.20) !important;
  @apply !bg-[#222222] !font-iranYekan}

.Toastify__toast-icon > svg {
  @apply fill-white
}

.Toastify__toast-icon + div {
  @apply text-white
}

.Toastify__toast > div div {
  @apply !font-iranYekan
}

.file-editor__preview .react-pdf__Document {
  @apply !w-full;
}

.file-editor__preview .preview-wrapper {
  @apply !h-[calc(100vh-280px)]
}

.custom-dialog {
  @apply !min-h-[60%] !max-h-[60%] !h-[60%]
}

.repo-log .react-bell-chat__chat-scroll-area {
  @apply !p-0;
}

.repo-log .react-bell-chat__loading-messages {
  @apply !hidden;
}

.repo-log .react-bell-chat__chat-messages {
  @apply !p-0 mt-14;
}

.repo-log .react-bell-chat__bubble-group {
  @apply !mt-0;
}

.app-sidebar-content input,
.file-management-wrapper input {
  @apply bg-transparent
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-normal);
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M6.00039 10.2002L3.30039 7.5002L2.33372 8.46687L6.00039 12.1335L14.0004 4.13354L13.0337 3.16687L6.00039 10.2002Z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 480px) {
  .custom-dialog {
    @apply !min-h-[100%] !max-h-[100%] !h-[100%] !w-full !m-0 !rounded-none
  }
}

@media (min-height: 600px) and (min-width: 481px) {
  .custom-dialog {
    @apply !min-h-[80%] !max-h-[80%] !h-[80%]

  }
}

@media (min-height: 1000px) and (min-width: 481px) {
  .custom-dialog {
    @apply !min-h-[800px] !max-h-[800px] !h-[800px]

  }
}

@keyframes moveGradient {
  0% {
    background-size: 400% 100%;
    background-position: 100% 0
  }

  50% {
    background-size: 200% 100%
  }

  100% {
    background-size: 400% 100%;
    background-position: -100% 0,
  }
}
