@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "../node_modules/cls-file-management/dist/style.css"; */

html {
  @apply h-full !scroll-smooth;
}

body {
  direction: rtl;
  @apply bg-tertiary !font-iranYekan
}

* {
  @apply !scroll-smooth;
}

@layer components {
  .spinner {
    @apply !border-r-purple-normal !border-t-purple-normal;
  }

  .title_t3 {
    @apply !text-[13px] !leading-[19.5px] !-tracking-[0.13px] !font-medium !font-iranYekan
  }

  .caption_c1 {
    @apply !text-[12px] !leading-[20px] -tracking-[0.12px] !font-normal !font-iranYekan
  }

  .form__title, .title_t1{

  }
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-200
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 border
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .repo__card-footer {
    @apply rounded-b-md py-3 px-3 w-full flex justify-between items-center bg-gray-50
  }
  
}